*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: url(../utilities/16324275_rm218batch4-ning-24.jpg);
  background-size: cover;
  display: flex;
  font-size: 62.5%;
  font-family: sans-serif;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.start-state__heading {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 5px;
  margin-bottom: 5rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}
.start-state__images {
  display: flex;
  justify-content: space-evenly;
  height: 4.5rem;
}
.start-state__btn {
  display: block;
  border: 1px solid transparent;
  box-shadow: 15px 8px 24px 0px rgb(66, 68, 90);
  border-radius: 5px;
  background: rgb(142, 153, 139);
  background: linear-gradient(195deg, rgb(142, 153, 139) 10%, rgb(57, 218, 51) 85%);
  cursor: pointer;
  font-size: 1.5rem;
  margin: 8rem auto 0 auto;
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 0.5rem 0.25rem;
}

.game-state {
  display: none;
  top: 0;
  position: absolute;
}
.game-state .computer-box__text,
.game-state .player-box__text {
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.game-state .computer-box__image,
.game-state .player-box__image {
  display: block;
  height: 6rem;
  margin: 1rem auto 1rem auto;
}
.game-state .computer-box__points,
.game-state .player-box__points {
  border: 1px solid #000;
  border-radius: 8px;
  background: rgb(150, 150, 150);
  background: linear-gradient(195deg, rgb(150, 150, 150) 10%, rgb(34, 33, 33) 85%);
  padding: 0.5rem 1rem;
}
.game-state .computer-box__computer--weapon,
.game-state .player-box__computer--weapon {
  text-align: center;
}
.game-state .computer-box__player--weapon,
.game-state .player-box__player--weapon {
  text-align: center;
}
.game-state .game-info__text {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.game-state .game-info__weapons {
  align-items: center;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 15px 8px 24px 0px rgb(66, 68, 90);
  background: rgb(142, 153, 139);
  background: linear-gradient(195deg, rgb(142, 153, 139) 10%, rgb(218, 59, 51) 85%);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.game-state .game-info__weapons--weapon {
  cursor: pointer;
  height: 5rem;
  transition: box-shadow 0.3s;
}

@media (min-width: 992px) {
  .start-state__btn:hover {
    background: linear-gradient(195deg, rgb(198, 209, 195) 10%, rgb(67, 225, 61) 85%);
  }
  .game-state .game-info__weapons--weapon:hover {
    box-shadow: inset -1px 1px 20px 1px #fff;
  }
}
@media (min-width: 768px) {
  .start-state__heading {
    font-size: 3rem;
  }
  .start-state__images {
    height: 7rem;
  }
  .start-state__btn {
    font-size: 2.5rem;
  }
  .game-state {
    top: auto;
    position: absolute;
  }
  .game-state .computer-box__text, .game-state .player-box__text {
    font-size: 3rem;
  }
  .game-state .computer-box__image, .game-state .player-box__image {
    height: 8rem;
  }
  .game-state .game-info__text {
    font-size: 2rem;
  }
  .game-state .game-info__weapons--weapon {
    height: 8rem;
  }
}
.display-off {
  display: none;
}

.display-on {
  display: block;
}/*# sourceMappingURL=style.css.map */