@use '../utilities/index.scss' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	align-items: center;
	background-image: url(../utilities/16324275_rm218batch4-ning-24.jpg);
	background-size: cover;
	display: flex;
	font-size: 62.5%;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}
.start-state {
	// display: none;
	&__heading {
		color: #fff;
		font-size: 1.8rem;
		letter-spacing: 5px;
		margin-bottom: 5rem;
		text-transform: uppercase;
		text-decoration: underline;
		text-align: center;
	}
	&__images {
		display: flex;
		justify-content: space-evenly;
		height: 4.5rem;
	}
	&__btn {
		display: block;
		border: 1px solid transparent;
		box-shadow: 15px 8px 24px 0px rgba(66, 68, 90, 1);
		border-radius: 5px;
		background: rgb(142, 153, 139);
		background: linear-gradient(195deg, rgba(142, 153, 139, 1) 10%, rgba(57, 218, 51, 1) 85%);
		cursor: pointer;
		font-size: 1.5rem;
		margin: 8rem auto 0 auto;
		text-transform: uppercase;
		padding: 0.5rem 0.25rem;
	}
}
@include large;
@include medium;
@include small;
