@mixin medium {
    @media (min-width: 768px) {
        .start-state {
            &__heading {
                font-size: 3rem;
            }
            &__images {
                height: 7rem;
            }
            &__btn {
                font-size: 2.5rem;
            }
        }
        .game-state {
            top: auto;
            position: absolute;
            .computer-box, .player-box {
                &__text {
                    font-size: 3rem;
                }
                &__image {
                    height: 8rem;
                }
            }
            .game-info {
                &__text {
                    font-size: 2rem;
                }
                &__weapons {
                    &--weapon {
                        height: 8rem;
                    }
                }
            }
        }
    }
}