@mixin medium {
    @media (min-width: 768px) {
        .start-state {
            &__heading {
                font-size: 3rem;
            }
            &__images {
                height: 7rem;
            }
            &__btn {
                font-size: 2.5rem;
            }
        }
        .game-state {
            .computer-box, .player-box {
                &__text {
                    font-size: 3rem;
                }
                .game-info {
                    &__text {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}